h1{
   color: white;
   text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
   text-align: center;
}

div.galeria{
	margin: 10px 20px;
	box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0,0,0,0.19);
	float: left;
	width: 350px;
}

div.galeria img{
    widht: 100%;
    height: auto;
}

div.galeria:hover{
	border: 1px solid lightcoral;
	transform: rotate(-3deg);
}

div.pie{
	text-align: center;
	text-shadow: 2px 2px 5px purple;
	padding: 10 px;
}

Img {
width: 380px ;
height: 380px ;
border-radius: 10px;

}

body {
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(250,208,157,1) 12%, rgba(236,255,217,1) 17%, rgba(202,255,163,1) 42%, rgba(174,255,148,1) 46%, rgba(225,255,175,1) 51%, rgba(242,255,217,1) 63%, rgba(183,219,145,1) 69%, rgba(255,238,187,1) 78%, rgba(255,201,112,1) 93%);
}

#main-footer {
  background: #333;
  color: white;
  text-align: center;
  justify-content: space-around;
  padding: 20px;
  margin-top: 600px;
  width: 100%;
  height: 30px;
  display: flex;
}
  #main-footer p {
    margin: 0;
  }
  
  #main-footer a {
    color: white;
  }
